.bg {
    background-image: url('https://img.goodfon.com/original/1920x1080/b/7a/cherep-serdce-krov-chernyy-fon.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}